{% extends "base.html" %}
{% block title %}  Your Page {% endblock %}

{% block content%} 
    <p>{{current_user.username}}</p>
    <a>What items would you like to LEC?</a>
    <form class = "form-control" action = "{{ url_for('person.index')}}" method = "POST">
        <input type = "text" name = "id" placeholder="ID" required = "required"><br>
        <input type = "text" name = "name" placeholder="Name" required = "required"><br>
        <input type = "text" name = "email" placeholder="Email address" required = "required"><br>
        <input type = "text" name = "number" placeholder="Phone number" required = "required"><br>
        <input type = "text" name = "price" placeholder="Price(in USD)" required = "required"><br>
        <input type = "text" name = "description" placeholder="Description" required = "required"><br>
        <input type = "text" name = "original_price" placeholder="Original price(in USD)" required = "required"><br>
        <input type = "text" name = "quantity" placeholder="Quantity" required = "required"><br>
        <input type = "text" name = "new_level" placeholder="New Level(%)" required = "required"><br>
        <input type = "submit" value = "Create">
    </form>
{% endblock %}